pyinstaller==3.2 # currently 3.2.1 version is not supported because of botocore exception
Crypto
pyopenssl
argparse
requests>=2.32.0
logging
daemon
boto3
botocore
gitpython
pyinotify
cffi
cryptography>=41.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability

